.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  float: left;
  margin: 50px;
  margin-top: 90px;
  height: auto;
  margin-bottom: 50px;
}

#root>div>div>div:nth-child(1)>button:nth-child(2),
#root>div>div>div:nth-child(1)>button:nth-child(3),
#root>div>div>div:nth-child(1)>button:nth-child(4),
#root>div>div>div:nth-child(1)>button:nth-child(5) {
  display: none;
}

.ParentLoader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 p {
  font-weight: 600;
  text-decoration: underline;
}

.card {
  margin: 15px 0px;
}

.newsCard {
  height: 25vh;
  margin: 20px;
  display: inline-block;
}

.newsCard h2 {
  font-size: 16px;
  font-weight: 600;
}

.div:last-child {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#root>last-child {
  text-align: left;
}

svg {
  cursor: pointer;
}

.MuiCardActions-root {
  justify-content: center;
}

.MuiButtonBase-root {
  border: 1px solid black;
}

@media only screen and (max-width: 767px) {
  div.makeStyles-paper-10 {
    margin: 0px;
    height: 65%;
    padding: 15px;
    width: 70%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    bottom: 15px;
  }

  div.makeStyles-paper-10 img {
    width: 100%;
    height: auto;
  }
}