.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  margin: 50px;
  margin-top: 64px;
  height: 100vh;
}

#root>div>div>div:nth-child(1)>button:nth-child(2),
#root>div>div>div:nth-child(1)>button:nth-child(3),
#root>div>div>div:nth-child(1)>button:nth-child(4),
#root>div>div>div:nth-child(1)>button:nth-child(5) {
  display: none;
}

.ParentLoader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsCard {
  height: 25vh;
  margin: 20px;
  display: inline-block;
}

.newsCard h2 {
  font-size: 12px;
}

#root>last-child {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  div.makeStyles-paper-10 {
    width: 100vw;
  }
}