$color-primary: #0070f3;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.header {
    background: var(--color-navigation);
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 1.25rem;
        color: var(--color-primary-accent);
        margin-right: 5px;
        cursor: pointer;
    }
    img {
        cursor: pointer;
    }
    &__logo {
        display: flex;
        flex: none;
    }
    &__nav {
        width: 1000px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        list-style: none;
        align-items: center;
        &__bulb {
            width: 30px;
            cursor: pointer;
        }
    &__navResponsive {
        display: none;
    }
        li {
            a {
                margin-right: 1.25rem;
                font-weight: 600;
                color: var(--color-primary-accent);
            }
        }
        li:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        &__flame {
            font-size: 1.25rem;
            color: var($color-primary);
            cursor: pointer;
            width: 20px;
        }
        &__toggle {
            color: #fff !important;
        }
        @media screen and (max-width: 1100px) {
            &__toggle {
                    display: block;
                    width: 26px;
                    margin-right: 1.25rem;
                    margin-left: 1rem;
            }
        }
    }
    
}

@media only screen and (max-width: 1100px) {
    .header {
        &__nav {
            justify-content: space-between;
            width: 100%;
        }
        h1 {
            padding-left: 1.25rem;
        }
    }
    .headerSpacer {
        &__pageTitle {
            width: 100%;
            h2 {
                margin-right: 1.25rem;
            }
        }
    }
}

.active {
    color: $color-primary;
    border-bottom: 2px solid white;
}

.headerSpacer {
    display: flex;
    align-items: center;
    justify-content: center;
    &__pageTitle {
        width: 1000px;
        h2 {
            text-align: right;
            margin-bottom: 0;
            font-family: var(--font-inter);
        }
    }
}




@media screen and (max-width: 1100px) {
    .header {
        &__nav {
            display: flex;
            justify-content: space-between;
            ul {
                display: none;
            }
        }
    }
    .headerResponsive {
        &__navResponsive {
            position: absolute;
            top: 55px;
            display: block !important;
            padding-left: 0;
            background: var(--color-button);
            width: 100vw;
            margin: 0;
            animation: fadeIn 0.25s;
            li {
                border-bottom: 1px solid var(--color-primary-accent);
                line-height: 2.8;
                a {
                    margin-left: 1rem;
                }
            }
            li:first-child {
                border-top: 1px solid var(--color-primary-accent);
            }
        }
    }
}