$color-primary: #0070f3;

.header {
    z-index: 2;
    background: var(--color-background);
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #000000;
    h1 {
        font-size: 1.25rem;
        color: var(--color-primary-accent);
        margin: 0 0.5rem 0 1rem;
    }
    &__logo {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        align-items: center;
        &__bulb {
            font-size: 2rem;
            width: 20px;
            cursor: pointer;
        }
        &__bulb:hover {
            color: $color-primary;
        }
    &__navResponsive {
        display: none;
    }
        li {
            a {
                padding-right: 1.25rem;
                font-weight: 600;
            }
            a:hover {
                color: $color-primary;
            }
        }
        li:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }
    &__icon {
        display: none;
        font-size: 1.25rem;
        color: $color-primary;
        cursor: pointer;
        width: 20px;
        margin-right: 1rem;
    }
    @media screen and (max-width: 865px) {
        &__icon {
            display: block;
            position: absolute;
            width: 20px;
            right: 5px;
            top: 1rem;
        }
        &__nav {
            ul {
                display: none;
            }
            &__bulb {
                position: absolute;
                right: 3.25rem;
            }
        }
    }
}

.active {
    color: $color-primary;
}

.headerSpacer {
    margin-bottom: 47.6px;
}

@media screen and (max-width: 865px) {
    .headerResponsive {
        flex-direction: column;
        align-items: flex-start;
        &__navResponsive {
            position: relative;
            display: block !important;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0;
            background: var(--color-background);
            width: 100vw;
            margin: 0;
            li {
                border-bottom: 1px solid var(--color-primary-accent);
                line-height: 2.8;
                a {
                    padding-left: 1rem;
                }
            }
            li:first-child {
                border-top: 1px solid var(--color-primary-accent);
            }
            li:hover {
                background: #d3d3d3;
            }
            &__bulb {
                top: 13px;
            }
        }
    }
}