$color-primary: #0070f3;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.header {
    background: var(--color-navigation);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    &__nav {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
        align-items: center;
        width: 1024px;
        @media (max-width: 836px) {
            width: 100%;
            justify-content: space-between;
        }
        &__linksWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            h1 {
                font-size: 1.25rem;
                color: var(--color-primary-accent);
                margin-right: 5px;
                cursor: pointer;
            }
            img {
                cursor: pointer;
            }
            &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__links {
                display: flex;
                flex-direction: row;
                list-style: none;
                font-size: 1rem;
                li {
                    padding-right: 1.125rem;
                }
                a {
                    line-height: 1rem;
                }
            }
        }
        &__icons {
            &__flame {
                font-size: 1.25rem;
                color: var($color-primary);
                cursor: pointer;
                img {
                    width: 18px;
                }
            }
            &__toggle {
                display: none;
                color: #fff !important;
                @media screen and (max-width: 836px) {
                    display: block;
                    width: 20px;
                    margin-left: .75rem;
                }
            }
            @media (max-width: 836px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    &__navResponsive {
        display: none;
    }
        li {
            font-weight: 600;
            color: var(--color-primary-accent);
        }
        a:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }
}

.active {
    color: $color-primary;
    text-decoration: underline;
}

.headerSpacer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
    &__pageTitle {
        h2 {
            text-align: right;
            margin-bottom: 0;
            font-family: var(--font-inter);
        }
    }
}




@media screen and (max-width: 836px) {
    .header {
        &__nav {
            display: flex;
            justify-content: space-between;
            ul {
                display: none;
            }
        }
    }
    .headerResponsive {
        &__navResponsive {
            position: absolute;
            top: 4rem;
            left: 0;
            display: block !important;
            background: #1E1E1E;
            width: 100%;
            margin: 0;
            animation: fadeIn 0.25s;
            z-index: 2;
            padding-inline-start: 0rem;
            margin-block-start: 0;
            margin-block-end: 0;
            li:not(:last-child) {
                border-bottom: .5px solid var(--color-primary-accent);
            }
            
            li {
                padding-left: 1rem;
                line-height: 2.8;
                border-bottom: .5px solid var(--color-primary-accent);
            }
        }
    }
}