.newsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    &__heroContainer {
        width: 100%;
    }
    &__newsGrid {
        display: grid;
        padding: 10px 0px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 5px;
        width: 100%;
    }
}

@media screen and (max-width: 1090px) {
    .newsContainer {
        &__heroContainer {
            width: 95vw;
        }
        &__newsGrid {
            grid-template-columns: 50% 50%;
            width: 95vw;
        }
    }
}