.newsHero {
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background: var(--color-paragraph);
    &__imageContainer {
        img {
            border-radius: 5px 5px 0 0;
            width: 100%;
        }
    }
    &__contentContainer {
        padding: 0px 20px 20px 20px;
        position: relative;
        min-height: 300px;
        h4 {
            font-size: 3rem;
            margin-bottom: 0;
        }
        p {
            font-size: 1.25rem;
        }
        &__badge {
            position: absolute;
            bottom: 10px;
            right: 10px;
            margin-bottom: 5px;
            box-shadow: 0 10px 16px 0 rgba(1,1,1,.1), 0 6px 20px 0 rgba(0,0,0,.01);
            background: var(--color-navigation);;
            color: var(--color-primary-accent);
            padding: 8px 6px;
            border-radius: 3px;
        }
    }
}

.newsHero:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 767px) {
    .newsHero {
        &__contentContainer {
            padding: 0px 5px 20px 5px;
            h4 {
                font-size: 1.25rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}